.App { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header{
  color: aqua;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  background-color: #007bff;
  border-radius: 4px;
}
.search-bar {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.employee-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.employee-card {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}